<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<div class="container" style="max-width:900px;">
    <h1>Welcome to TravelSewa</h1>
    <p>Book buses easily and securely.</p>

    <img th:src="@{/images/bus.jpg}"
         style="width:100%; margin-top:20px; border-radius:8px;">
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
