<!DOCTYPE html>
<html>
<head>
    <title>Booking QR</title>
</head>
<body>
<h1>Booking QR Code</h1>
<img id="TravelSewa" alt="Loading ........">

<script>

    const base64String =

        "iVBORw0KGgoAAAANSUhEUgAAASwAAAEsAQAAAABRBrPYAAACQUlEQVR4Xu2XS27kMAxE6ZWO"  +
        "oZta6pvqCFlqJU1V0QlidYDMZjAwIcJwy+TzwsXSp23+TXzYmvkxNrbExpbY2BIbW2JjS/wLb" +
        "Bij9DxnO3B1s4R0Y5aDQJiSp+VqBqbgqRv4cpUiYc1SKyoBfvX8IoOxnRExCpLYd5SQ0SsxMS" +
        "qQZhUPJ+jFeBhuYJhHlEmTlx9M/nxMVWL3i9lY2FcMr8rh5Vs+DDb44c3YdL+j9Vq+uIKFwhD" +
        "IoDSpA6czlCH8GXEwnCikyaHBmSjR+xIdABtUAL/agLBK29Vx6RMLS/PlDE8XLkIzwm05ND4d" +
        "mx1HC+dp8tKzi1NUjISxKh2GBCk0w7WUSZxAGB7hc5b4WDWXC4eXJnGw1E6/ZGyWuA15MhqGU" +
        "k2cvFWwe16lYBi2XSsd3c8TA+b038fsLkgEbPCxmZEZnNSZheuVQJjPZaMmVMYlejf587FJh0" +
        "+2m0M3efuEo2Ho8iHgxQEkosMpUSyMH97R/exvVC5feJFTWxJFwuRnWh17kNTQn4LT+VjY0a/P"+
        "F5aZ1bwOh+n41K+DIqty+2nX4SoQ1lyKOXlONsvUoWc+MhkJoyDlW6/RfWQYb7o9GvMYnMUcV" +
        "AlSdeoYsbChT5elGwdaxCrvd90CYBzT3oVPtIHgS41YWDN8vi4OKI5MntZZHwYr+C+QuGTJ5G" +
        "TqrfVxMJI0AO7YhbEfZe9+IAw3TmGUppucsnCCH6wHwowBbOiYUZhB97kX31r/fOzX2NgSG1t" +
        "iY0tsbImNLfF/sD8FyX5NhAG9HgAAAABJRU5ErkJggg=="

    ;
    document.getElementById("TravelSewa").src = "data:image/png;base64," + base64String;
</script>
</body>
</html>
