<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forget Password</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<div class="container">

    <h2>Forget Password</h2>

    <form th:action="@{/auth/forgot-password}" method="post">
        <input type="email"
               name="email"
               placeholder="Enter your email"
               required />

        <button type="submit">Send OTP</button>
    </form>

    <p th:if="${message}"
       th:text="${message}"
       style="color:green; text-align:center; margin-top:10px;">
    </p>

    <div class="link">
        <a th:href="@{/auth/login}">Back to Login</a>
    </div>

</div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
