<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>

        <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>

<h2>Login</h2>

<form th:action="@{/auth/login}" method="post">
    <input type="email" name="email" placeholder="Email" required />
    <br><br>
    <input type="password" name="password" placeholder="Password" required />
    <br><br>
    <button type="submit">Login</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:red"></p>
<p th:if="${success}" th:text="${success}" style="color:green"></p>

<a th:href="@{/auth/forget-password}">Forgot Password?</a>
<br>
<a th:href="@{/auth/signup}">Create Account</a>

</body>
</html>