* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f9;
    color: #333;
}

header {
    background: #1e3a8a;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    font-size: 22px;
}

header a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}


.container {
    max-width: 400px;
    margin: 60px auto;
    background: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgb(40,555,676);
}


input {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    background: #1e3a8a;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #162d66;
}


.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    color: #1e3a8a;
    text-decoration: none;
}


footer {
    text-align: center;
    padding: 15px;
    background: #f1f1f1;
    margin-top: 40px;
}
header {
    background: #1e3a8a;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}
.main-nav{
    border-color: antiquewhite;
    padding:20%;
}
