<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="@{/css/style.css}">
</head>

<body>

<div th:fragment="header">
    <header>
        <div>
            <a th:href="@{/}" style="color:white; text-decoration:none;">
                <h2>TravelSewa</h2>
            </a>
        </div >

        <nav id="main-nav" style="color:blue; text-decoration:none; border-color:olivedrab">
            <a th:href="@{/}">Home</a>
            <a th:href="#{signup}">Signup</a>
            <a th:href="#{faq}">FAQ</a>
            <a th:href="@{details}">Details</a>
            <a th:href="@{login}">Login</a>
        </nav>
    </header>
</div>

</body>
</html>
